  .php {
    width: 1538px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .login {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}
 .senha {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;

}
 .email {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
   

}
 .Numero_de_Telefone {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;


}
.coisa {
    background-color: rgb(224, 255, 122);
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    background-color: rgb(122, 122, 255);
}